@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  margin: 0 100px;
}
th{
  padding: 8px;
  border: 1px solid rgb(26, 109, 151);
}
td{
  margin-top: 2px;
  border: 1px solid #333;
  padding: 2px;
}